.header
    = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'
    .header-logo
        =current_user.name + "様の投稿"
        .nav
            %ul
                %li<
    
.main
    .main-container
        .main-image
            = image_tag "green.jpg", alt: "写真"
            .posts-container
