.show-header
    .show-header-logo
        =current_user.name + "様のページ"
    .show-header-menu
        = link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'

.show-main
    .show-main-container
        = image_tag "green.jpg", alt: "写真"   
        %p 予約一覧   
                 
        .show-posts-container